@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
    font-family: "Poppins-light";
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Augusta";
    src: url(fonts/milestone/MilestoneFreeVersion-Script.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
html{
    padding: 0;
    margin: 0;
}
main{
    padding-top: 20vh;
    background-color: black;
 }   
/*-------------------header--------------------*/
.header{
   
    z-index: 100;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 1.5rem;
   
    color: white;
    font-family: "Augusta";
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
  
    
}
.Navigation-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1.2rem;
    font-family: "Poppins-light";
   
}

#Reci-li1{
  transition: all 0.2s;
  position: absolute;
  right: 12rem;
}
#Reci-li2{
    transition: all 0.2s;
    position: absolute;
    right: 2rem;
  }
.Navigation-menu p:hover{
    background-color: rgb(0, 0, 0);
    padding: 0.9rem;
    border-radius: 2rem;
    cursor: pointer;
  }

/*------------------THE BEST RECIPES? ODIN RECIPES!---------*/
#Odin-Recipes{
    padding-bottom: 4rem;
    font-family: "Augusta";
    font-size: 5.3rem;
}


.container-1{

    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7vh 7vh 40vh;
    font-family: "Poppins";
   
    color: rgb(255, 255, 255);
    gap: 3rem;
}

.Left-Division img{
   max-width: 300vh;
   border-radius: 2rem;
  
}
#od-text-1{
    margin-left: 2rem;
    z-index: 1;
}
#od-text-2{
    margin-left: 2rem;
    z-index: 1;
}
span{
    color: rgb(255, 0, 0);
}

/*---------------------RECIPES-------------------*/

.container-2{
    
    padding: 6rem;
    color: white;
    font-family: "Poppins-light";
}

.Recipe-1{
    gap: 2rem;
    display: flex;
}
.Recipe-2{
    margin-top: 8rem;
    gap: 2rem;
    display: flex;
}
.Recipe-3{
    margin-top: 8rem;
    gap: 2rem;
    display: flex;
}
#meatballs-img{
    width: 40rem;
    border-radius: 2rem;
}
#strawberry-img{
    width: 40rem;
    border-radius: 2rem;
}


/*-------------------Buttons and links---------------*/

#arepa-cook-it{
    border: none;
    background-color: red;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 2rem;
    
    font-family: "Poppins";
    transition: all 0.3s;
}
#arepa-link{
 text-decoration: none;
 color: white;
}
#meatballs-cook-it{
    
    border: none;
    background-color: red;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 2rem;
    
    font-family: "Poppins";
    transition: all 0.3s;
}
#meatballs-link{
    text-decoration: none;
    color: white;
}
#strawberry-cook-it{
    border: none;
    background-color: red;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 2rem;
    
    font-family: "Poppins";
    transition: all 0.3s;
}
#strawberry-link{
    text-decoration: none;
    color: white;
}
#arepa-cook-it:hover,
#meatballs-cook-it:hover,
#strawberry-cook-it:hover{
    background-color: rgb(255, 119, 0);
    cursor: pointer;
}